<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><B>HOSPITAL MANAGEMENT SYSTEM</B></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/dashboard">Patient entry</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/search">Search patient's</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/update">Edit patient's</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/viewall">View all patients</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <div class="container container">

        <div class="row">
            <dic class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
              <form action="/" method="POST">
                <table class="table table-borderless">
                  <tr>
                      <td>Welcome to home page</td>
                  </tr>
                  <tr>
                      <td>Username</td>
                      <td><input name="logusername" type="text" id="username" class="form-conrtol"></td>
                  </tr>
                  <tr>
                      <td>Password</td>
                      <td><input name="logpassword" type="password" name="" id="password"></td>
                  </tr>
                  <tr>
                      <td></td>
                      <td><button class="btn btn-success">SUBMIT</button></button></td>
                  </tr>
              </table>
              </form>
            </dic>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script>
       </script>
</body>
</html>